	<div class="wrapper wrapper_padding clearfix">
		<div class="col-1 about homepage_content">
			<h2>About</h2>
			<hr>
			<p>
			I have little to say since I don’t have a great grasp on this app yet since it’s so new. I’m watching, but it’s still very early. </p>
			<p>However, I do find it interesting that <a href="#">MiiTomo</a> was released right after Icomplained about Nintendo not playing in the mobile space. </p>
			<!-- <p>Obviously, they had been working on it long before I said this, but the timing seems serendipitous and I’m excited to dig further.</p>
			 -->
		</div>

		<div class="col-2 homepage_content">
			<h2>Stuff I’ve Writeen</h2>
			<hr>

			<% @posts.each do |post| %>
				<h3> <a href="#"><%= link_to post.title, post %></a></h3>
				<p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
			<% end %>
	
				 
		</div>

		<div class="col-3 homepage_content">
			<h2>Stuff I’ve Built</h2>
			<hr>
			<h3><a href="#">Unicasts</a></h3>
			<p class="date">Friday April 10th</p>

			<h3><a href="">Chris Community</a></h3>
			<p class="date">Friday April 10th</p>

			<h3><a href="">12 in 12 challenge</a></h3>
			<p class="date">Friday April 10th</p>
		</div>
	</div>